body {
    overflow-x: hidden;
}

.modalBackground {
    display: none;
    background: rgba(37, 37, 37, 0.244);
    position: fixed;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
}

.modalActive {
    position: absolute;
    width: 50vh;
    height: 70vh;
    top: 10vh;
    left: calc(40%);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    cursor: default;
    padding: 40px 20px;
    overflow-x: scroll;
}

.modalNotification {
    display: none;
    position: absolute;
    width: 35vh;
    height: 50vh;
    top: 15vh;
    left: calc(45%);
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    cursor: default;
    padding: 40px 20px;
}

.modalClose {
    font-family: var(--font-regular);
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.modalWindow {
    position: relative;
}

.btn_container, .btn_container button {
    margin: auto;
    width: 100%;
    text-align: center;
}

textarea {
    resize: vertical;
    min-height: 1em;
    line-height: 1em;
}
