#tablesList h3 {
    margin: auto;
    text-align: center;
}

.table {
    min-width: 150vh;
    min-height: 50vh;
}

ul {
    padding: 0%;
}

ul li {
    width: 15vh;
    height: 3vh;
    margin: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#tablePlaceHolder {
    display: flex;
    flex-direction: column;
    max-height: 30vh;
    padding-bottom: 2vh;
}

#tablePlaceHolder table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

#tablePlaceHolder table td, #tablePlaceHolder table th {
    width: auto;
    text-align: center;
    padding: 8px;
    border: 1px solid #ccc;
    overflow-x: scroll;
}

#tablePlaceHolder table th {
    white-space: nowrap;
}

#tablePlaceHolder #tableContainer {
    overflow-x: scroll;
    overflow-y: scroll;
}

#tableButtonsBar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1vh;
    margin-bottom: 1vh;
}
