{% if card.promocode %}
    <div>
        <pre><code>card.promocode</code></pre>
    </div>
{% endif %}

{% if card.call_to_action_link and card.call_to_action_btn_label %}
    <a class="btn" href="{{ card.call_to_action_link }}">card.call_to_action_btn_label</a>
{% endif %}

{% if card.obtain_method_description %}
    <div>
        <h2>Как получить</h2>
        <p>{{ card.obtain_method_description }}</p>
    </div>
{% endif %}

{% if card.validity_period %}
<div>
    <h2>Срок действия</h2>
    <p>{{ card.validity_period }}</p>
</div>
{% endif %}

{% if card.about_partner %}
<div>
    <h2>О партнере</h2>
    <p>{{ card.about_partner }}</p>
</div>
{% endif %}

