<div id="tableContainer">
    <table>
        <thead>
            {% for column in columns %}
                <th>{{ column }}</th>
            {% endfor %}
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    {% for column in columns %}
                        <td>{{ row[column] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="inline" id="tableButtonsBar">
    <button class="btn">Новая запись</button>
</div>
