<div id="tableContainer">
    <table>
        <thead>
            <th>Подробнее</th>
            {% for column in columns %}
                <th>{{ descriptions[column]|default(column) }}</th>
            {% endfor %}
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td><button class="btn trigger" data-card-id="{{ row['id'] }}">Подробнее</button></td>
                    {% for column in columns %}
                        <td>{{ row[column] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="inline" id="tableButtonsBar">
    <button class="btn">Новая запись</button>
</div>
